<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Artisanal Messaging</title>

    <style>

      form.ui.form {
        padding: 1em;
        max-width: 500px;
        margin: auto;
      }


    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

    <script>

      $(function() {

        $('.button').on('click', function(e) {

          $('.button').addClass('loading');
          var form_data = new FormData($('form')[0]);

          $.ajax({
            url: '/web-print',
            data: form_data,
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',

            success: function(response) {
              $('.button').removeClass('loading');
              $('form')[0].reset()
              $('h1').text('It\'s done! Send another...');
              console.log(response);
            }

          });

        });

      });

    </script>
  </head>
  <body>

    <form class="ui form">

      <h1>Artisanal Messaging</h1>

      <div class="field">
        <label>Recipient</label>
        <input type="text" name="name" placeholder="Name or identifying marks">
      </div>

      <div class="field">
        <label>Social Security Number</label>
        <input type="text" name="ssn" placeholder="040-23-2349">
      </div>

      <div class="field">
        <label>Good Place to Stalk Him/Her</label>
        <input type="text" name="location" placeholder="Dark hallway ...">
      </div>

      <div class="field">
        <label>Your Artisanal Message</label>
        <textarea name="message" placeholder="Fuck off, etc."></textarea>
      </div>

      <input type=file name=file>

      <div class="ui big primary button right floated">do it</div>

    </form>

  </body>
</html>
